<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.withdayback.schedule.dao.ScheduleDao">
    <select id="selectScheduleById" resultType="Schedule">
        SELECT *
        FROM Schedule
        WHERE id = #{id}
          AND deleted_at IS NULL
    </select>

    <select id="selectDetailsByScheduleId" resultType="ScheduleDetail">
        SELECT *
        FROM ScheduleDetail
        WHERE schedule_id = #{scheduleId}
        ORDER BY day_number ASC
    </select>
</mapper>