<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.withdayback.user.dao.UserDao">

    <select id="findByEmail" resultType="User">
        SELECT
            id, email, password, provider, provider_id as providerId,
            nickname, profile_image as profileImage, birthday, gender,
            phone, status, postcode, address, detail_address as detailAdress,
            Lat as lat, Lng as lng, created_at as createdAt
        FROM User
        WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO User (
        email, password, provider, provider_id, nickname,
        profile_image, birthday, gender, phone,
        status, postcode, address, detail_address, Lat, Lng, created_at
        ) VALUES (
        #{email},
        #{password},
        #{provider},
        #{providerId},
        #{nickname},
        #{profileImage},
        #{birthday},
        #{gender},
        #{phone},
        'active',           <!-- 프론트 데이터 안 믿고 Mapper에서 무조건 active 하드코딩! -->
        #{postcode},
        #{address},
        #{detailAddress},
        #{lat},
        #{lng},
        NOW()               <!-- Mapper가 DB 서버의 현재 날짜/시간을 자동으로 박아줌! -->
        )
    </insert>

    <insert id="insertUserTerms" parameterType="UserTerms">
        INSERT INTO user_terms (
            user_id, terms_id, agreed
        ) VALUES (
                     #{userId}, #{termsId}, #{agreed}
                 )
    </insert>

</mapper>